.footer-area {
    background-color: #2f3967;
}

.footer-area li {
    padding-bottom: 10px;
}

.social-media .icon {
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
}

.social-media .active-icon {
    background-color: white;
    color: #2f3967;
}